.nav_link {
    color: black;
}

.nav_link:hover {
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

.nav_link.active {
    background-color: #212529 !important;
    color: white !important;
}